:root, html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
    --primary-color: #0095d4;
}

/* Utility classes */

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.text-decoration-none {
    text-decoration: none;
}

.f-bold {
    font-weight: bold;
}

/* Colors */

.text-primary {
    color: var(--primary-color);
}

/* Top nav styles */

.top-nav {
    padding: 8px 10px;
}

.logo {
    width: 105px;
    height: 40px;
}

.top-nav ul {
    display: none;
}

.top-nav ul>li {
    list-style-type: none;
}

.top-nav ul a {
    padding: 5px 10px;
    color: rgba(0, 0, 0, .5);
}

.top-nav ul a:hover {
    color: rgba(0, 0, 0, .7);
}

.right-nav-items .signup-btn, .right-nav-items .login-btn {
    display: none;
    border-radius: 5px;
    padding: 7px 25px;
    background-color: #e1f6ff;
}

.right-nav-items .signup-btn {
    background-color: var(--primary-color);
    color: white;
}

.right-nav-items a {
    display: inline-block;
    padding: 5px 10px;
}

/* Nav ends */

/* Banner */

.banner-container {
    padding: 1rem;
    flex-direction: column;
}

.banner-text h1 {
    text-transform: uppercase;
    margin: unset;
}

.banner-text p {
    font-size: 1.2rem;
    color: #18191f;
    line-height: 1.5;
}

.banner-text .explore-btn {
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: .8rem 1.5rem;
    margin-top: 1rem;
    display: inline-block;
}

.banner-image {
    width: 100%;
}

/* Browswer Category */

.main-categeory-item {
    height: 80px;
    width: 340px;
    background-color: rgb(225, 246, 255);
    margin: 10px;
    /* border: 1px solid green; */
}

.main-categeory-item>img {
    height: 100%;
    width: 30%;
}

.main-categeory-item>span {
    width: 100%;
    color: var(--primary-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-item-container {
    flex-direction: column;
    /* padding-left: 5px; */
}

img.slide-img {
    display: none;
}

/* Featured package image */

.container-color {
    padding: 10px;
    background-color: rgb(225, 246, 255);
    padding-bottom: 20px;
}

.package-container {
    border: 1px solid black;
    border-radius: 5px;
    height: 360px;
    width: 300px;
    background-color: white;
    border: none;
    margin: 10px;
    padding-bottom: 30px;
}

.package-container>img {
    width: 100%;
    height: 170px;
    border-radius: 5px;
    overflow: hidden;
}

h2 {
    padding: 0px 10px;
}

h4 {
    color: gray;
    padding-left: 10px;
}

button.view-button {
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin: 0px 90px;
}

/* Featured package image ends */

/* featured package video */

.featured-video {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.media-container {
    padding: 15px;
}

/* Featured package video  ends here*/

/* testimonal */

.testimonal-container {
    margin: 10px;
    padding: 0px;
}

.testimonal {
    display: flex;
    flex-direction: column;
}

.testimonal-part {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}

.doc-photo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.doc-details {
    display: none;
}

span.doc-name {
    font-weight: bold;
    padding: 6px;
}

/* testimonal ends */

/* Anesthesia MD/DNB Package */

.dnb-package {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 149, 212);
    padding-top: 0px;
    padding: 10px;
    /* margin: 10px; */
}

.h1-style {
    color: white;
    font-size: 20px;
}

.dnb-content {
    color: white;
    font-size: 10px;
    padding-bottom: 10px;
}

.pkg-btn {
    border-radius: 5px;
    color: rgb(0, 149, 212);
    padding: 5px;
    border: none;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
}

/* Anesthesia package ends here */

/* Footer */

footer {
    background-color: black;
    color: white;
    padding: 10px;
}

.footer-class {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section a {
    text-decoration: none;
    color: white;
    padding: 7px;
    font-size: small;
}

section a:hover {
    text-decoration: underline;
}

.foot-div {
    padding: 10px;
}

.right-footer {
    display: flex;
}

.right-footer>img {
    width: 40%;
}

.left-footer {
    width: 100%;
}

.bottom {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: space-between;
    font-size: x-small;
}

/* FOr big screens */

@media screen and (min-width: 700px) {
    /* Common */
    .container {
        padding: 10px 150px;
    }
    /* nav bar */
    .top-nav ul {
        display: flex;
    }
    .right-nav-items .signup-btn, .right-nav-items .login-btn {
        display: inline-block;
    }
    /* banner */
    .banner-container {
        flex-direction: row;
    }
    .banner-text {
        padding-top: 3rem;
    }
    .banner-container .banner-text, .banner-container img {
        width: 50%;
    }
    .banner-text h1 {
        font-size: 4rem;
    }
    .category-item-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    img.slide-img {
        width: 100%;
        display: block;
    }
    /* style for featured packages */
    
    .container-color {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgb(225, 246, 255);
    }
    /* Featured package video */

    .media-container {
        margin: 0px;
    }
    /* testimonal */

    .testimonal {
        flex-direction: row;
    }
    .testimonal-container {
        background-color: rgb(225, 246, 255);
        margin: 0px;
    }
    .testimonal-part {
        height: 500px;
    }
    .doc-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* testimonal ends here */

    /* Anesthesia DNB Package */

    .dnb-package {
        flex-direction: row;
        margin: 0px;
    }
    .pkg-btn {
        padding: 10px;
        font-size: 20px;
    }
    .dnb-content {
        font-size: 20px;
    }
    .h1-style {
        font-size: 35px;
    }
    /* footer */
    .footer-class, .bottom {
        flex-direction: row;
    }
    section a {
        font-size: 1rem;
    }
    .left-footer {
        width: 60%;
    }
    .right-footer {
        flex-direction: column;
    }
    .right-footer>img {
        width: 100%;
    }
    .bottom {
        font-size: small;
    }
}